################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Proyecto2Grupo2/.vs/Proyecto2Grupo2
